# ---- React / Node / JavaScript ----
node_modules/
build/
dist/
.env
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache/
coverage/

# ---- .NET Core / C# ----
bin/
obj/
*.user
*.suo
*.rsuser
.vscode/
.vs/
TestResults/
*.db
*.db-shm
*.db-wal
*.pdb
*.pidb
*.svclog
*.sln.docstates
project.lock.json
artifacts/

# ---- General ----
*.log
*.tmp
*.bak
*.swp
*.swn
*.swo

